<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome!!</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/fontawesome/css/all.min.css')}}">
   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/mdb/css/bootstrap.min.css')}}"  >
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/mdb/css/mdb.min.css')}}" >

 
 <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/mdb/css/addons/datatables.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">

	
	
	
    
    
 
  



</head>

<body>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark aiblue">
  <a class="navbar-brand" href="#">Genispai</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if name=='home' %}active{% endif %}">
        <a class="nav-link" href="/home">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <li class="nav-item {% if name=='infos' %}active{% endif %}">
        <a class="nav-link" href="/infos">
          <i class="fa fa-table">
           
          </i>
          Infos
        </a>
      </li>
      <li class="nav-item {% if name=='heatmap' %}active{% endif %}">
        <a class="nav-link" href="/heatmap">
          <i class="fa fa-globe">
          
          </i>
          Heatmap
        </a>
      </li>
      
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item {% if name=='news' %}active{% endif %}">
        <a class="nav-link" href="/news">
          <i class="fa fa-bell">
           
          </i>
          News
        </a>
      </li>
      <li class="nav-item {% if name=='contact_us' %}active{% endif %}">
        <a class="nav-link" href="/contact_us">
          <i class="fa fa-envelope-open">
          
          </i>
          Contact us
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">
         <i class="fas fa-sign-out-alt"></i>
          Log out
        </a>
      </li>
    </ul>
    
  </div>
</nav>

{% block content %}





{% endblock %}


<footer class="footer bg-dark text-light ab-b-l ">
    <div class="container bg-dark">
      
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <ul class="list-unstyled list-inline social text-center">

            <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-facebook"></i></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
        </hr>
      </div>  
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          
          <p class="h6">&copy All right Reserved.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Genispai</a></p>
        </div>
        </hr>
      </div>  
    </div>
  </footer>	
	 <script type="text/javascript" src="{{url_for('static',filename='vendor/mdb/js/jquery-3.4.1.min.js')}}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{{url_for('static',filename='vendor/mdb/js/popper.min.js')}}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{{url_for('static',filename='vendor/mdb/js/bootstrap.min.js')}}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{{url_for('static',filename='vendor/mdb/js/mdb.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/main.js')}}"></script>
  <!-- MDBootstrap Datatables  -->
<script type="text/javascript" src="{{url_for('static',filename='vendor/mdb/js/addons/datatables.min.js')}}"></script>
</body>
</html>
