{% extends "base.html" %}

{% block custom_navbar%}
<nav class="navbar navbarr navbar-icon-top navbar-expand-lg navbar-dark bg-dark aiblue fixed-top">
{% endblock %}
{% block content%}
<!--<div class="view" style="background-image: url('/static/images/cyber.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">-->

<div class="view bg-dark" style=" background-image: url('/static/images/dark.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

            <!-- Mask & flexbox options-->
            <div class="mask align-items-center">
              <!-- Content -->
              <div class="container m-t-50">
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                    <h1 class="h1-responsive font-weight-bold mt-sm-5">Genispai for a better future </h1>
                    <hr class="hr-light">
                    <h6 class="mb-4">We need to change this description :D</h6>
                    <a href="{{url_for('main.infos')}}" class="btn btn-white">Start now</a>
                    <a href="{{url_for('main.heatmap')}}" class="btn btn-outline-white">Heatmap</a>
                  </div>
                  <!--Grid column-->
                  <!--Grid column-->
                  <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                    <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid">
                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->
              </div>
              <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
          </div>
{% endblock %}