{% extends "base.html" %}
{% block content %}
<div class="container">
  <a href="{{url_for('main.save_progress')}}"><button type="button" class="btn btn-success btn-rounded btn-ml center m-0">Save progress</button></a>
 <div id="table" class="table-editable">
  <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Title
        </th>
        <th class="th-sm">Article
        </th>
        <th class="th-sm">Date
        </th>
        <th class="no_sort">Read more
        </th>
        <th class="no_sort">Delete
        </th>
        <th class="no_sort">Save
        </th>
      </tr>
    </thead>
    <tbody>
      {% for ind in data.index: %}
      <tr>
        <td>{{ data.at[ind,"title"] }}</td>
        <td>{{ data.at[ind,"article"] }}</td>
        <td>{{ data.at[ind,"date"] }}</td>

        <td><a href="{{ data.at[ind,'lien'] }}"><button type="button" class="btn btn-ai btn-rounded btn-sm m-0">Read more</button></a></td>
        <td><a href="{{url_for('main.delete_element')}}?ind={{ind}}"><span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm m-0">Delete </button></span></td>
           <td><a href="{{url_for('main.save_element')}}?ind={{ind}}"><button type="button" class="btn btn-success btn-rounded btn-sm m-0">Save</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>Title
        </th>
        <th>Article
        </th>
        <th>Date
        </th>

        <th>Read more
        </th>
        <th>Delete
        </th>
        <th>Save
        </th>
      </tr>
    </tfoot>
  </table>
</div>
</div>
{% endblock %}