.aiblue
{
  color: #00d8ff;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link 
{
    color: #00d8ff;
}
.navbar-dark .navbar-brand {
    color: #00d8ff;
}
a {
    color: #00d8ff;
   }
.list-group .active a{
  color: white;
}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    color: #00d8ff;
}
.pagination .page-item.active .page-link {
    transition: all .2s linear;
    border-radius: .125rem;
    background-color: #00d8ff;
    color: #fff;
}
.btn-ai {
    background-color: #00d8ff!important;
    color: #fff;
}
.list-group-item.active {
    color: #fff;
    background-color: #00d8ff;
    border-color: #00d8ff;
}

.navbar {
    width: 100%;
    
}

.m-t-50{
    margin-top: 100px;
}

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100%;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 100%;
  }
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: #212121 !important;
}

.navbarr:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbarr:not(.top-nav-collapse) {
    background: #212121 !important;
  }
}

.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}







/*
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.navbar {
    height: 50px;
}*/

