
 /* .container-fluid {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}*/
/*body{
    overflow-x: scroll;
    overflow-y: visible;
     height: 90%;
     width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}*/
.scrolly {
    overflow-x: scroll;
    overflow-y: visible;
     height: 90%;
     width: 100%;
    /*-webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;*/
}
.scrollx {
    overflow: auto;
    overflow-x: visible;
     height: 90%;
     width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
.sticky{
    position: sticky;
}
